@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700&family=Newsreader:wght@200;400;600&display=swap');

.live-responsive{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.live-update{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.news-card{
    border: 2px solid rgb(151, 150, 150);
    width:300px ;
    border-radius: 3px;
    height: 415px;
}
.card-img{
    width: 300px;
}
.card-title{
    font-size: 30px;
    text-align: center;
    margin: 0 2%;
}
.card-description{
    font-size: 15px;

    color: grey;
    margin:3% 4%;
}
.card-date{
   
    font-size: 10px;
    margin:1% 4%;

}

.card-button{
    border:2px solid rgb(185, 4, 4);
    color: rgb(185, 4, 4);
    padding: 2px 4px;
    background-color: white;
    float:right;
    height: 35px;
    width: 80px;
    margin:0 4%;
    border-radius: 5px;
}
.card-button:hover{
    color: white;
    background-color: rgb(185, 4, 4) ;
}
/* .News-head{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} */