@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700&family=Newsreader:wght@200;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  color: #1d3557;
  font-family:'Lexend', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #1d3557;
  border-radius: 25px;
}