*{
  margin: 0;
  padding: 0;
}

body{
  color: #1d3557;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #1d3557;
  border-radius: 25px;
}